body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1, h2, h3, h4 h5, h6 {
    margin: 0;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
 }
 

.main {
display: grid;
justify-items: center;
}

.container {
    display: grid;
    grid-template-columns: 5fr 7fr;
    width: 600px;
}

.leftside {
    background-color: rgb(35, 44, 57);
    color: rgb(255, 255, 255);
}

.leftside__foto {
    padding: 30px 56px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
}

.leftside__contact {
    padding: 28px 24px 24px 24px;
}

.leftside__contact__h2 {
    margin: 12px 0 36px 0;
}

.leftside__contact__ul_a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 16px;
}


.leftside__contact__ul_li {
    margin-bottom: 8px;
}

.leftside__skills {
    padding: 0 24px 8px 24px;
}

.leftside__skills__h2 {
    margin: 32px 0;
}

.leftside__skills__ul_li {
    margin-bottom: 19px;
}

.leftside__tools {
    padding: 0 24px 20px 24px;
    margin-bottom: 21px;
}

.leftside__tools__h2 {
    margin: 32px 0;
}

.leftside__tools__ul_li {
    margin-bottom: 19px;
}

.rightside {
    background-color: rgb(255, 255, 255);
    color: rgb(63, 63, 63);
}

.rightside__name {
    padding: 69px 24px;
}

.rightside__name__h1 {
    margin-bottom: 18px;
}

.rightside__work {
    padding: 0 24px 56px 24px;
}

.rightside__work__h2 {
    margin-bottom: 32px;
    font-size: 20px;
}

.rightside__work__h3 {
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 700;
}

.rightside__work__a {
    text-decoration: none;
    color: rgb(66, 105, 163);
}

.rightside__work__p {
    color: rgb(166, 166, 166);
    font-size: 14px;
}

.rightside__work__ul {
    margin-bottom: 40px;
}

.rightside__work__info {
    list-style: outside;
    margin-left: 14px;
}

.rightside__work__info::marker {
    color: rgb(196, 196, 196);
}

.rightside__education {
padding: 0 24px 54px 24px;
}

.rightside__education__h2 {
    margin: 20px 0 33px 0;
}

.rightside__education__h3 {
    margin-bottom: 34px;
    font-size: 18px;
    font-weight: 700;
}