body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1, h2, h3, h4 h5, h6 {
    margin: 0;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
 }
 
.rightside {
    background-color: rgb(255, 255, 255);
    color: rgb(63, 63, 63);
}

.container {
    display: grid;
    grid-template-columns: 5fr 7fr;
    width: 600px;
}

.leftside {
    background-color: rgb(35, 44, 57);
    color: rgb(255, 255, 255);
    padding: 24px;
}

.leftside__foto {
    margin: 30px 56px;
}



.leftside__contact__ul_a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 16px;
}


.leftside__contact__ul_li {
    margin-bottom: 8px;
}

.leftside__contact_ul_img {
    margin-left: 24px;
}

.leftside__skills {
    padding: 24px;
}

.leftside__skills__ul_li {
    margin-bottom: 19px;
}